@model IEnumerable<SalesTax.Models.Receipt>

@{
    ViewData["Title"] = "Receipt";
}

<h1>Purchase Confirmation</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ItemName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ItemName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
        </tr>
}
    </tbody>
</table>
<div>
@for(int i = 0; i < 1; i++){
    @Html.DisplayNameFor(model => model.TotalTax);
    <span>@Html.DisplayFor(modelItem => modelItem.FirstOrDefault().TotalTax)</span>
}
</div>
<div>
    @for (int i = 0; i < 1; i++)
    {
        @Html.DisplayNameFor(model => model.TotalPrice);
        <span>@Html.DisplayFor(modelItem => modelItem.FirstOrDefault().TotalPrice)</span>  
    }
</div>
